* {
    font-family: Roboto, Verdana, sans-serif;
}

.heading-section {
    background-color: #1F2937;
}

.heading-text-primary {
    color: #F9FAF8;
    font-size: 24px;
}

.navBar .heading-text-primary {
    padding: 2px;
    width: 20%;
    text-align: center;
}

.heading-text-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.navBar .heading-text-secondary {
    display: flex;
}

.navBar .heading-text-secondary span{
    flex: 1;
    text-align: center;
    padding: 2px;
}

.navBar {
    display: flex;
}

.navBar span {
    flex: auto;
    justify-content: center;
    align-items: center;
}

.main-body {
   color: #1F2937; 
}

.separate-body {
    background-color: #E5E7EB;
    color: #1F2937;
}

.heading-main {
    display: flex;
    justify-content: center;
    height: 500px;
}

.heading-main div{
    margin-top: 8%;
    margin-bottom: 4%;
}

.hero-text {
    margin-left: 10%;
    width: 50%;
}

.hero-text h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-text div {
    padding-right: 15%;
    margin-right: none;
}

.main-image {
    margin-right: 5%;
    margin-left: none;
    width: 60%;
    height: 300px;
    line-height: 300px;
    background-color: #7e8187;
    text-align: center;
}

.image-placeholder {
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 8px;
    height: 40px;
    width: 160px;
    border-color: #3882F6;
    font-size: 16px;
    color:#F9FAF8;
    border-style: solid;
}

.info-blurb {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
}

.img-and-cap {
    margin: 1%;
}

.info-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.sub-img {
    width: 220px;
    height: 220px;
    border: 5px solid #3882F6;
    border-radius: 25px;
    text-align: center;
}

.caption {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}