* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.heading-section {
    background-color: #1F2937;
}

.heading-text-primary {
    color: #F9FAF8;
    font-size: 24px;
}

.navBar .heading-text-primary {
    padding: 2px;
    width: 20%;
    text-align: center;
}

.heading-text-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.navBar .heading-text-secondary {
    display: flex;
}

.navBar .heading-text-secondary span{
    flex: 1;
    text-align: center;
    padding: 2px;
}

.navBar {
    display: flex;
}

.navBar span {
    flex: auto;
    justify-content: center;
    align-items: center;
}

.main-body {
   color: #1F2937; 
}

.separate-body {
    background-color: #E5E7EB;
    color: #1F2937;
    height: 400px;
}

.heading-main {
    display: flex;
    justify-content: center;
    height: 500px;
}

.heading-main div{
    margin-top: 8%;
    margin-bottom: 4%;
}

.hero-text {
    margin-left: 10%;
    width: 50%;
}

.hero-text h1{
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.hero-text div {
    padding-right: 15%;
    margin-right: none;
}

.main-image {
    margin-right: 5%;
    margin-left: none;
    width: 60%;
    height: 300px;
    line-height: 300px;
    background-color: #7e8187;
    text-align: center;
}

.image-placeholder {
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 8px;
    height: 40px;
    width: 160px;
    border-color: #3882F6;
    font-size: 16px;
    color:#F9FAF8;
    border-style: solid;
    margin-top: 8px;
}

.info-blurb {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
}

.img-and-cap {
    margin: 1%;
    padding-bottom: 100px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding: 5%;
}

.sub-img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.caption {
    font-size: 18px;
    width: 200px;
    color: #1F2937;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    text-align: left;
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 100px;
}

.quote-credit {
    font-size: 24px;
    font-weight: bold;
    margin-left: 60%;
}

.call-to-action {
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    height: 150px;
    border-radius: 8px;
}

.cta-text {
    color:#F9FAF8;
    margin-left: 10%;
}

#cta1 {
    font-size: 24px;
    font-weight: bold;
}

#cta2 {
    font-size: 18px;
}

.cta-button {
    background-color: #3882F6;
    border-radius: 8px;
    height: 40px;
    width: 160px;
    border-color: #F9FAF8;
    font-size: 16px;
    color:#F9FAF8;
    border-style: solid;
    margin-top: 8px;
    margin-left: 75%;
}

.footer {
    background-color: #1F2937;
    height: 80px;
    line-height: 80px;
}

.links {
    color:#F9FAF8;
    text-align: center;
}